---
import { getCollection } from "astro:content";
import BlogArchive from "../../components/blog/BlogArchive.astro";
import Layout from "../../layouts/Layout.astro";

const allArticles = await getCollection("articles");
const sortedArticles = allArticles.sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title="Portfoliooo | Blog">
    <main>
        <BlogArchive articles={sortedArticles} />
    </main>
</Layout>
