---
import { getCollection } from "astro:content";
import GitHubCTA from "../../components/works/GithubCTA.astro";
import WorkFilter from "../../components/works/WorkFilter.astro";
import WorksTitle from "../../components/works/WorksTitle.astro";
import Layout from "../../layouts/Layout.astro";

const allWorks = await getCollection("works");
const sortedWorks = allWorks.sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
const featured = sortedWorks[0];
---

<Layout title="Portfoliooo | Works">
    <main>
        <WorksTitle featured={featured} />
        <WorkFilter works={sortedWorks} length={sortedWorks.length} />
        <GitHubCTA />
    </main>
</Layout>
