---
import { getCollection } from "astro:content";
import FeaturedProject from "../../components/works/FeaturedProject.astro";
import GitHubCTA from "../../components/works/GithubCTA.astro";
import WorksArchive from "../../components/works/WorksArchive.astro";
import Layout from "../../layouts/Layout.astro";

const allWorks = await getCollection("works");
const sortedWorks = allWorks.sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
const featured = sortedWorks[0];
---

<Layout title="Portfoliooo | Works">
    <main>
        <FeaturedProject id={featured.id} {...featured.data} />
        <WorksArchive works={sortedWorks} />
        <GitHubCTA />
    </main>
</Layout>
