:has(> .slide-bg-l),
:has(> .slide-bg-r),
:has(> .slide-bg-t),
:has(> .slide-bg-b) {
  @apply relative overflow-hidden;
}
@utility slide-bg-base {
  @apply absolute bg-black duration-300;
}
@utility slide-bg-l {
  @apply slide-bg-base top-0 left-0 h-full w-0 transition-[width];
  .group:hover & {
    @apply w-full;
  }
}

@utility slide-bg-r {
  @apply slide-bg-base top-0 right-0 h-full w-0 transition-[width];
  .group:hover & {
    @apply w-full;
  }
}

@utility slide-bg-t {
  @apply slide-bg-base top-0 left-0 w-full h-0 transition-[height];
  .group:hover & {
    @apply h-full;
  }
}

@utility slide-bg-b {
  @apply slide-bg-base bottom-0 left-0 w-full h-0 transition-[height];
  .group:hover & {
    @apply h-full;
  }
}
