---
import { getCollection } from "astro:content";
import About from "../components/sections/About.astro";
import BlogContact from "../components/sections/BlogContact.astro";
import Footer from "../components/sections/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import Works from "../components/sections/Works.astro";
import Layout from "../layouts/Layout.astro";

const allWorks = await getCollection("works");
const sortedWorks = allWorks
	.sort(
		(a, b) =>
			new Date(b.data.publishDate).getTime() -
			new Date(a.data.publishDate).getTime(),
	)
	.slice(0, 3);
---

<Layout>
	<main>
		<Hero />
		<About />
		<Works works={sortedWorks} />
		<BlogContact />
		<Footer />
	</main>
</Layout>
