---



import Flame from "@lucide/astro/icons/flame";
---
<div class="p-8 md:p-12 flex flex-col justify-center ">
       <h3 class="font-black text-4xl mb-6 tracking-tighter font-figtree">
           VALUES
       </h3>
       <div class="space-y-6">
           <div>
               <h4 class="font-bold text-xl mb-2 font-figtree flex items-center gap-1"><Flame class="inline-block  size-6" />Performance</h4>
               <p class="text-sm leading-relaxed opacity-80">
                 コードはなるべく高速に。低スペックのためという面もありますが、今後の拡張の幅を広げるためにも基本的にコードの最適化をなるべくするようにしています。
               </p>
           </div>
           <div>
               <h4 class="font-bold text-xl mb-2 font-figtree">
                   🎨 Attention to Detail
               </h4>
               <p class="text-sm leading-relaxed opacity-80">
                   細部へのこだわりが全体の質を高めると信じています。ピクセル単位の調整や、マイクロインタラクションを大切にしています。
               </p>
           </div>
       </div>
   </div>
