---



import SlideButton from '@/components/ui/SlideButton.astro';

---

<header
    class="font-figtree full-width-border bg-white/90 backdrop-blur-2xl sticky top-0 z-50"
>
    <div
        class="content-container bg-transparent h-16 flex items-center justify-between px-6 md:px-8"
    >
        <a href="/">
            <h1 class="text-xl md:text-2xl font-black tracking-tighter">
                MIKAN.PORTFOLIO
            </h1>
        </a>
        <nav class="flex items-center space-x-4 md:space-x-8 font-bold text-sm *:inline-block *:px-3 *:py-1 *:overflow-hidden *:border *:border-transparent *:hover:border-black *:transition-colors">
            <SlideButton
            direction="left"
                href="/about"
 *:           >
                <span
                    >ABOUT</span
                >
            </SlideButton>
            <SlideButton
            direction="left"
                href="/works"
            >
                <span
                    >WORKS</span
                >
            </SlideButton>
            <SlideButton
            direction="left"
                href="/blog"
            >
                <span
                    >BLOG</span
                >
            </SlideButton>
        </nav>
    </div>
</header>
