<!-- transition:animate="fade" --><!-- transition:name="header" --><!-- transition:persist -->
<header
    class="full-width-border sticky top-0 bg-white/50 backdrop-blur-sm z-50"
>
    <div
        class="content-container h-16 flex bg-white/50 items-center justify-between px-6 md:px-8"
    >
        <a href="/">
            <h1 class="text-xl md:text-2xl font-black tracking-tighter">
                MIKAN.PORTFOLIO
            </h1>
        </a>
        <nav>
            <ul class="flex space-x-4 md:space-x-8 font-bold text-sm">
                <li>
                    <a
                        href="/about"
                        class="relative group inline-block px-3 py-1 overflow-hidden border border-transparent hover:border-black transition-colors"
                    >
                        <span
                            class="relative z-10 group-hover:text-white transition-colors duration-300"
                            >ABOUT</span
                        >
                        <span class="slide-bg-l"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="/works"
                        class="relative group inline-block px-3 py-1 overflow-hidden border border-transparent hover:border-black transition-colors"
                    >
                        <span
                            class="relative z-10 group-hover:text-white transition-colors duration-300"
                            >WORKS</span
                        >
                        <span class="slide-bg-l"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="/blog"
                        class="relative group inline-block px-3 py-1 overflow-hidden border border-transparent hover:border-black transition-colors"
                    >
                        <span
                            class="relative z-10 group-hover:text-white transition-colors duration-300"
                            >BLOG</span
                        >
                        <span class="slide-bg-l"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
