---
import InfiniteTextBackground from "./InfiniteTextBackground";
---

<section class="full-width-border">
	<div
		class="content-container grid grid-cols-1 md:grid-cols-2 min-h-[70dvh]"
	>
		<!-- 左：テキスト -->
		<div
			class="p-8 md:p-16 flex flex-col justify-center border-b-2 md:border-b-0 md:border-r-2 border-black bg-white relative z-20 overflow-hidden"
		>
			<p class="text-xs font-bold tracking-[0.3em] text-gray-500 mb-4">
				STUDENT / WEB DEV
			</p>
			<h2
				class="text-5xl md:text-7xl font-black leading-none text-nowrap"
			>
				LOGIC<br />& DESIGN.<br />
			</h2>
			<span
				class="select-none bg-linear-to-r font-black text-3xl from-orange-600/0 to-orange-400/0 hover:from-orange-600 hover:to-orange-400 transition-colors duration-1000 text-transparent bg-clip-text inline-block leading-none mb-6"
				>(MORE SIMPLE ・ω・)</span
			>
			<p
				class="text-sm md:text-base font-bold leading-loose max-w-sm md:max-w-md font-sans"
			>
				コードを書くのが好きな高校生。<br />
				まだ勉強中の身ですが、技術でモノを作る楽しさを探求しています。
			</p>
		</div>

		<!-- 右：アニメーション背景エリア -->
		<div
			class="relative overflow-hidden border-2 border-t-0 border-b-0 border-r-0 border-l-0 md:border-l-0 border-black group bg-gray-50 min-h-[20dvh]"
		>
			<InfiniteTextBackground client:load />
		</div>
	</div>
</section>
