---



import Github from "simple-icons-astro/Github";
import Section from "@/components/ui/Section.astro";
import SlideButton from "../ui/SlideButton.astro";
---
<Section class="bg-gray-100 mx-auto p-16 flex flex-col items-center text-center">
        <h3 class="text-3xl font-black font-figtree mb-6">MORE PROJECTS?</h3>
        <p
            class="font-bold text-sm opacity-70 mb-8 max-w-lg mx-auto leading-relaxed"
        >
            ここには掲載していない小さな実験や、学習の過程のコードはGitHubで公開しています。
        </p>

        <SlideButton
            direction="top"
            href="https://github.com/mikan-919"
            target="_blank"
            class="inline-flex items-center gap-3 btn-brutal"
        >
            <!-- GitHub Icon (SVG) -->
            <Github />
            <span>Visit GitHub Profile</span>
        </SlideButton>

</Section>
