---
import type { CollectionEntry } from "astro:content";
import FeaturedProject from "./FeaturedProject.astro";

type Props = {
    featured: CollectionEntry<"works">;
};
const { featured } = Astro.props;
---

<section class="full-width-border">
    <div class="content-container">
        <!-- タイトル & フィルターエリア -->
        <div class="p-8 md:p-12 bg-gray-50">
            <div
                class="flex flex-col md:flex-row justify-between items-start md:items-end mt-8 gap-4"
            >
                <div>
                    <p
                        class="text-xs font-bold tracking-[0.3em] text-gray-500 mb-2"
                    >
                        PROJECT ARCHIVE
                    </p>
                    <h1
                        class="text-6xl md:text-8xl font-black itaric tracking-tighter leading-none"
                    >
                        WORKS.
                    </h1>
                </div>
            </div>
        </div>
        <FeaturedProject id={featured.id} {...featured.data} />
    </div>
</section>
